body{
    padding-left: 4rem;
    padding-right: 4rem;
}

.thumbnail{
    height: 80%;
}

.root {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    top: 0;
    left: 0;
    right: 0;
   
    background-color: transparent;
    transition: background-color 0.5s ease-in;
  }

  .root a {
    text-decoration: none;
  }
  
  .logo {
    font-family: 'Abhaya Libre', serif;
    font-size: 3rem;
  }
  
  .icon {
    position: relative;
    font-size: 2rem;
  }
  .icon-num {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    margin-top: -9px;
    left: 50%;
    margin-left: -9px;
    font-size: 1rem;
    text-align: center;
    color: red;
  }
  
  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }


    .hero{
      background: url('./wp6431019.jpg');
      background-position: center;
      height: 100vh;
      width: 100vh;
      background-size: cover;
    }