

  .icon {
    position: relative;
    font-size: 2rem;
  }
  .icon-num {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    margin-top: -9px;
    left: 50%;
    margin-left: -9px;
    font-size: 1rem;
    text-align: center;
    color: red;
  }
  
  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }


    .hero{
      background: url('./wp6431019.jpg');
      background-position: center;
      background-size: cover;
      width: 100vw;
      height: 100vh;
    }

    

   